<%- include('header.ejs') %>
<div class="row ">
  <div class="col-md-6 col-sm-12 left rounded">
 <h5 style="text-align: end;margin: 0px;">Weather</h5><h5 class="time" style="text-align: end;"></h5>
 <h6 class="day" style="text-align: end;"></h6>
 <div class="left-weather" style="text-align: center;"> 
    <% if (locals.atmo||locals.weather||locals.city||locals.country||locals.hour||locals.period) { %>
      <% if (atmo=="Clouds") { %>
        <div class="sky">
    <i class="fa-solid fa-cloud fa-2xl" style="color: #f5f5f5;"></i></div>
    <% }else if (atmo=="Clear"){ %>
      <% if (period=="PM"&&hour>6||period=="AM"&&hour<4) { %>
        <div class="sky">
        <i class="fa-solid fa-moon fa-2xl" style="color: #ffffff;"></i></div>
      <% }else if (period=="AM"&&hour>4){%>
      <div class="sky">
    <i class="fa-solid fa-sun fa-2xl" ></i></div>
    
    <% }} else if (atmo=="Rainy") { %>
      <div class="sky">
      <i class="fa-solid fa-cloud-showers-heavy fa-2xl" style="color: #ffffff;"></i></div>
      <% } %>
      
        <h3>The weather to day in <%= city %>,<%= country %></h3>
     <h3 ></h3> <h3 class="atmo">Is <%= atmo %></h3>
      <h3 class="weather"><%= weather %>°</h3>
    </div>
    <% }else{ %>
      <h4>No Data Entered Yet</h4>
      </div>
    <%   } %>
    </div>
    <div class="col-6">
<form action="/submit" method="post">
<%- include('countries.ejs') %>
<label for="City">Please enter your city<span style="color: red;">  *Required</span> :</label><br>
<input type="text" name="city" placeholder="City" id="city" class="rounded text"><br>
<label for="limit">Enter limit <span style="color: red;">  *Required</span> :<span style="color: lime;"><h6>(Limit Number Of Countries Of Search)</h6></span></label><br>
<input type="number" name="limit" id="limit" placeholder="Limit" class="text rounded"><br>
<input type="submit" value="Submit" class="btn btn-lg btn-outline-info sub">
</form>
</div></div>
<%- include('footer.ejs') %>